* {
    margin: 0;
}
body {
    font-family: 'Fira Sans', sans-serif;
    color: #222222;
}
.primary-btn {
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #062b70;
    padding: 15px 30px;
    border-radius: 5px;
}
.section-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
}

/* -------------- HEADER STYLES --------------*/
.banner-container {
    height: 630px;
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-texts {
    text-align: right;
    width: 40%;
    padding-left: 650px;
    padding-top: 180px;
}
.banner-title {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner-description {
    font-size: 14px;
    color: #313131;
    padding-left: 160px;
    margin-bottom: 30px;
}


/* -------------- FAILURE SECTION STYLES --------------*/
.failure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.failure img {
    height: 600px;
}
.failure-text {
    width: 25%;
    margin-left: 50px;
    padding-top: 100px;
}
.failure-text p {
    margin-bottom: 10px;
    font-size: 14px;
}
#description {
    margin-bottom: 20px;
}
.fa-check {
    color: limegreen;
}


/* -------------- PLANS SECTION STYLES --------------*/
.plan-section {
    margin: 100px auto;
    text-align: center;
}
.plan-container {
    margin-top: 50px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.plan h3 {
    font-size: 26px;
    margin-bottom: 10px;
}
.plan p {
    font-size: 20px;
    font-weight: 700;
    color: grey;
}


/* -------------- CALL NOW SECTION STYLES --------------*/
.call-now {
    background-image: url('images/gradient1.png') , url('images/watch.png');
    background-repeat: no-repeat;
    background-position: top;
    padding: 70px 200px;
    margin-bottom: 100px;
}
.call-now .text-area {
    width: 50%;
}
.call-now h3 {
    color: white;
}
.call-now button {
    color: #062b70;
    background-color: white;
}


/* -------------- FOOTER SECTION STYLES --------------*/
footer {
    color: white;
    background-color: black;
    height: 280px;
    padding: 70px 200px;
    display: flex;
    gap: 200px;
    align-items: flex-start;   
}
.footer-item {
    width: 60%;
}
.footer-item p {
    margin-bottom: 20px;
    font-size: 14px;
}
.footer-item img {
    margin-right: 20px;
}
#subscribe {
    font-size: 24px;
}
.footer-item input {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    width: 70%;
    margin-bottom: 16px;
}